<div class="top-page-head">
  <!-- <img class="top-page-head-img" src="/assets/1.png"> -->
  <%= image_tag "1.png",:size =>'1425x480'%>
  <h1>六本木ジムナビへようこそ</h1>
  <!-- <div class="top-page-head-text"> -->
  <p>
    このサイトは、六本木のパーソナルジムを紹介するサイトです。
  </p>
</div>
