
<div class="jumbotron">

  <header class="navbar navbar-fixed-top">
    <div class="container">

      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <nav class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",   '#', {:style=>"color:white;"}%></li>
          <li><%= link_to "ジムを探す",   'https://solto.jp/party/', {:style=>"color:white;"}%></li>
          <li><%= link_to "記事を読む", 'https://solto.jp/', {:style=>"color:white;"}%></li>
        </ul>
      </nav>

    </div>
  </header>

  <h1 class="display-4">六本木ジムナビへようこそ</h1>
  <p class="lead">このサイトは、六本木のパーソナルジムを紹介するサイトです。</p>

</div>


<div class="container">
  <a class="btn btn-primary" href='https://solto.jp/party/'>
    ジムを探す
  </a>
  <%=link_to('https://solto.jp') do %>
    <button class="link_to_posts">記事を読む</button>
  <%end%>
</div>
