
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">六本木ジムナビへようこそ</h1>
    <p class="lead">このサイトは、六本木のパーソナルジムを紹介するサイトです。</p>
  </div>
</div>


<div class="container">
<!--
  <h1>六本木ジムナビへようこそ</h1>
  <p>
    このサイトは、六本木のパーソナルジムを紹介するサイトです。
  </p>
</div> -->
<div class="container">
  <a class="btn btn-primary" href='https://solto.jp/party/'>
    ジムを探す
  </a>
  <%=link_to('https://solto.jp') do %>
    <button class="link_to_posts">記事を読む</button>
  <%end%>
</div>
