
<div class="jumbotron">
  <nav class="w-full flex justify-between">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://pasto.solto.jp/">ジムを探す</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://solto.jp/">記事を読む</a>
        </li>
      </ul>
    <!-- <span class="navbar-text">
      Navbar text with an inline element
    </span> -->
    </div>
  </nav>

  <h1 class="display-4">六本木ジムナビへようこそ</h1>
  <p class="lead">このサイトは、六本木のパーソナルジムを紹介するサイトです。</p>
</div>


<div class="container">
  <a class="btn btn-primary" href='https://solto.jp/party/'>
    ジムを探す
  </a>
  <%=link_to('https://solto.jp') do %>
    <button class="link_to_posts">記事を読む</button>
  <%end%>
</div>
