<div class="top-page-head">
  <%= image_tag "1.png",:size =>'1425x480'%>
  <h1>六本木ジムナビへようこそ</h1>
  <p>
    このサイトは、六本木のパーソナルジムを紹介するサイトです。
  </p>
</div>
<div class="link_buttons">
  <a class="link_to_gyms" href='https://solto.jp/party/'>
    ジムを探す
  </a>
  <%=link_to('https://solto.jp') do %>
    <button class="link_to_posts">記事を読む</button>
  <%end%>
</div>
